* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}

.navbar_con {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  position: fixe;
  font-family: "Sen", sans-serif;
}

.logo_con {
  flex: 1;
}

.logo {
  color: rgb(0, 135, 245);
}
.menu_con {
  flex: 6;
}

.menu_list {
  display: flex;
  list-style: none;
}

.menu_item {
  margin-right: 30px;
}

.menu_item.active {
  font-weight: bold;
}

.profile_con {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pro_text_con {
  margin: 0 20px;
}

.propic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar {
  height: 100%;
  width: 50px;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 90px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  opacity: 0.7;
  margin: 30px 0;
}

.featured-desc2 {
    width: 500px;
    opacity: 0.8;
    margin: 30px 0;
  }

.featured-button {
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.4;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc {
  opacity: 0.8;
}

.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 0.4s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: rgb(118, 112, 112);
  border-radius: 10px 0 0;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 11px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.logo.active{
    color: aqua;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar_con.active {
  background-color: white;
  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
  .menu_con {
    display: none;
  }
}
